footer {
    flex-shrink: 0;
    background-color: #1d74bb;
    color: #ffffff;
}

@media screen and (max-width: 991px) {
    .row div {
        text-align: center;
    }

    #plaza-icon img {
        max-height: 80px;
        max-width: 100%;
    }
}