.custom-color {
    background-color: #1d74bb;
    color: #ffffff;
}

.custom-color .nav-link {
    color: #ffffff;
}

@media screen and (max-width: 767px) {
    a {
        text-align: center;
    }
}